<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <h4><%= mechanic.name %></h4>
  <p><%= mechanic.years_of_experience %></p>
<% end %>
<h4><%= "Mechanic's average years of experience: #{@mechanics.average_years}" %></h4>
