<h1>All Mechanics</h1>

<ul>
  <% @mechanics.each do |mechanic| %>
    <li>
      <p><b><%= mechanic.name %></b></p>
      <p>Years of Experience: <%= mechanic.years_experience %></p>
    </li>
  <% end %>
</ul>
