<h1>Meet <%= @mechanic.name %></h1>
<h3>All About Me:</h3>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<% @mechanic.rides.order_by_thrill_rating.each do |ride| %>
  <% if ride.open == true %>
    <h3><%= ride.name %></h3>
    <p><%= ride.thrill_rating %></p>
    <% end %>
<% end %>
