<h1>Mechanic Information</h1>

<p>Name: <%= @mechanic.name %></p>
<p>Experience: <%= @mechanic.years_experience %></p>

<h4>Rides:</h4>
<% @mechanic.open_rides_order.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>
