<h3>Mechanic: <%= @mechanic.name %></h3>
<p>Years of Experience: <%= @mechanic.years_experience %></p>
<ul>Current Rides: <% @mechanic_rides.each do |ride| %>
  <li><%= ride.name %></li>
  <% end %></ul>
