<%= @park.name %>
<%= number_to_currency(@park.price_of_admission) %>

<h3>Rides:</h3>
<ul>
  <% @ordered_rides.each do |ride|  %>
    <li><%= ride.name %></li>
  <% end %>
</ul>

<p>Average Thrill Rating of Rides: <%= @park.avg_thrill_rating.round(1) %></p>
