<h1>Amusement Park's Name: <%= @amusement_park.name %><br>
  Price of Admission: $<%= @amusement_park.price_of_admission %>
</h1>

<h3>List of Rides in alphabetical order:</h3>
<ol>
  <% @amusement_park.alphabetical_order.each do |ride|  %>
   <li><%= ride.name %></li>
  <% end %>
</ol>

<h3>Average hrill rating: <%= @amusement_park.average_thrill_rating %>/10
</h3>
